@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
	--font-primary: 'Montserrat', sans-serif;
	--clr-light: #ffffff;
	--clr-dark: #000000;
	--clr-hover: #0073bf;
	--clr-primary: #008ce8;
}

* {
	box-sizing: border-box;
}

main {
	display: grid;
	place-items: center;
}

h1.head {
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: relative;
	max-width: 800px;
}
table {
	padding-bottom: 50px;
}

th {
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	padding-top: 15px;
}

td {
	border-bottom: 1px solid #eee;
	padding: 20px;
}

tr:hover td {
	background-color: #eee;
	cursor: move;
}

.del-button {
	border-radius: 50%;
	height: 30px;
	width: 30px;
	border: 2px solid red;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
}

.editlink {
	text-decoration: none;
	color: #2669b5;
}

.editlink:hover {
	text-decoration: underline;
}

table {
	margin-bottom: 50px;
}

.input {
	display: block;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	outline: none;
}

.input:focus {
	border-color: #666;
}

.textinput {
	padding: 0.5rem 0.8rem;
	width: 100%;
	font-family: var(--font-primary);
	border-radius: 0.3em;
}

.textarea {
	padding: 1rem;
	height: 150px;
	width: 100%;
	border-radius: 0.3em;
	font-family: var(--font-primary);
}

.form-container {
	width: 500px;
}

.button {
	background-color: var(--clr-primary);
	width: 100%;
	padding: 7px;
	color: var(--clr-light);
	border: none;
	border-radius: 0.3em;
	font-size: 1rem;
}

.button:hover {
	background-color: var(--clr-hover);
}

.add {
	height: 40px;
	width: 40px;
	border: 2px solid #ccc;
	border-radius: 0.3em;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #777;
}

.add:hover {
	background-color: #ccc;
	color: #666;
}
