th {
	padding-bottom: 1rem;
	padding-top: 1rem;
	border-bottom: 2px solid #ccc;
	position: sticky;
	top: 0;
	background-color: #fff;
}

td {
	border-bottom: 1px solid #eee;
	padding: 1rem;
}

tr:hover {
	background-color: #eee;
	cursor: move;
}

.editlink {
	text-decoration: none;
	color: #2669b5;
}

.editlink:hover {
	text-decoration: underline;
}

.del-button {
	border-radius: 50%;
	height: 30px;
	width: 30px;
	border: 2px solid red;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
}

.dragging {
	opacity: 0.7;
}

.head {
	display: flex;
	width: 100%;
	max-width: 750px;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 0 0.7em;
}

.add {
	height: 40px;
	width: 40px;
	border: 2px solid #ccc;
	border-radius: 0.3em;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #777;
}

.add:hover {
	background-color: #ccc;
	color: #666;
}
